header {
  height: 50px;
  width: 100%;
  background-color: green;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  a {
    color: white;
    text-decoration: none;
    font-weight: 400;

    padding: 15px;
  }

  .ativo {
    display: none;
  }
}
